Task 3.1P/remoteMonitor-node-red.json
[
    {
        "id": "1c56b9887e058685",
        "type": "tab",
        "label": "Remote monitor light intensity",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bcb0f1f5d404c8d7",
        "type": "serial in",
        "z": "1c56b9887e058685",
        "name": "COM7",
        "serial": "aca7ed8380d864f8",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "c3defd6a53a214ea",
                "4a4c2ca704e8356b"
            ]
        ]
    },
    {
        "id": "4b8f8003bf0ddc99",
        "type": "debug",
        "z": "1c56b9887e058685",
        "name": "debug_Monitor",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 180,
        "wires": []
    },
    {
        "id": "d205e76665c2f1f9",
        "type": "rbe",
        "z": "1c56b9887e058685",
        "name": "Block report (Condition)",
        "func": "rbei",
        "gap": "1",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "state",
        "topi": "topic",
        "x": 610,
        "y": 180,
        "wires": [
            [
                "5f21f8485b23a990"
            ]
        ]
    },
    {
        "id": "c3defd6a53a214ea",
        "type": "function",
        "z": "1c56b9887e058685",
        "name": "email note",
        "func": "var a = Number(msg.payload);\nvar state = 0;\n\nif (a >= 100) \n    state = 1;\nelse \n    state = 0;\n\nmsg.state = state;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 180,
        "wires": [
            [
                "d205e76665c2f1f9",
                "dd1f8c493341be6b"
            ]
        ]
    },
    {
        "id": "bc8bb9c0a759dc96",
        "type": "e-mail",
        "z": "1c56b9887e058685",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "noxxchapter15@gmail.com",
        "dname": "Mail notification",
        "x": 900,
        "y": 260,
        "wires": []
    },
    {
        "id": "75d8ddac42927d64",
        "type": "debug",
        "z": "1c56b9887e058685",
        "name": "debug_Monitor",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 260,
        "wires": []
    },
    {
        "id": "4a4c2ca704e8356b",
        "type": "function",
        "z": "1c56b9887e058685",
        "name": "debug",
        "func": "msg.payload = \"Light: \"+ msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 260,
        "wires": [
            [
                "75d8ddac42927d64"
            ]
        ]
    },
    {
        "id": "b97b2074a04cd221",
        "type": "debug",
        "z": "1c56b9887e058685",
        "name": "debug_Monitor",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 100,
        "wires": []
    },
    {
        "id": "783b7d0bdc701fe2",
        "type": "function",
        "z": "1c56b9887e058685",
        "name": "string",
        "func": "msg.state = \"Current State: \"+msg.state;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 100,
        "wires": [
            [
                "b97b2074a04cd221"
            ]
        ]
    },
    {
        "id": "dd1f8c493341be6b",
        "type": "rbe",
        "z": "1c56b9887e058685",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "state",
        "topi": "topic",
        "x": 550,
        "y": 100,
        "wires": [
            [
                "783b7d0bdc701fe2"
            ]
        ]
    },
    {
        "id": "5f21f8485b23a990",
        "type": "function",
        "z": "1c56b9887e058685",
        "name": "text",
        "func": "var a = msg.payload;\nvar text =\"\";\n\nif (a >= 100) {\n    text = \"Critical light for terrarium: \"+a;\n}\nelse {\n    text = \"Good light: \"+a;\n}\n\nmsg.payload = text;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 180,
        "wires": [
            [
                "4b8f8003bf0ddc99"
            ]
        ]
    },
    {
        "id": "aca7ed8380d864f8",
        "type": "serial-port",
        "name": "COM7",
        "serialport": "COM7",
        "serialbaud": "9600",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "0a87393bd2605bc1",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-serialport": "2.0.3",
            "node-red-node-email": "5.2.1"
        }
    }
]